.DS_Store
.dart_tool/
.idea/
.vscode/

.packages
.pub/

build/

example/.DS_Store
example/.dart_tool/
example/.idea/
example/.vscode/

example/.packages
example/.pub/

example/build/
